.auth-error {
  color: $error-color;
}
.auth-link {
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: -60px;
  right: 0px;
  color: white;
  padding: 8px;
  margin: 12px auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.signInBlock {
  position: relative;
  .oauth-logo {
    position: absolute;
    right: 0;
  }
}
.auth-oauth {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
