.title {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  &_size-small {
    font-size: 26px;
    line-height: 31px;
  }

  &_size-medium {
    font-size: $font-size-xxlg;
    line-height: 45px;
  }
}
