.forum-message {
  position: relative;
  background-color: black;
  margin: 14px 0;
  padding: 10px;
  display: flex;
  color: white;
  min-height: 130px;
}
.forum-message__avatar {
  width: 60px;
  text-align: center;
}
.forum-message__image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: #c4c4c4;
  border-radius: 4px;
}
.forum-message__image img {
  max-width: 100%;
}

.forum-message__username,
.forum-message__content time {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.forum-message__username {
  font-weight: 400;
  text-align: center;
  display: inline-block;
  padding: 6px 0;
}

.forum-message__content {
  padding-left: 10px;
}
.forum-message__content time {
  font-weight: 500;
}

.forum-message__message {
  padding: 7px 0;
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
  border-top: 1px solid;
  border-color: white;
}

.forum-message__likes {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

.forum-message__likes-thumb {
  cursor: pointer;
  margin-right: 2px;

  &_disabled {
    opacity: 0.5;
    cursor: default;
  }
}
