.auth-error {
  color: $error-color;
}
.signInBlock {
  position: relative;
  .oauth-logo {
    position: absolute;
    right: 0;
  }
}
.auth-oauth {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
