.forum {
  height: calc(100% - 45px);
  overflow: hidden;
  position: relative;

  &-title {
    font-size: $font-size-xlg;
    height: 42px;
    line-height: 42px;
  }

  &-link {
    color: white;
  }

  &-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-table {
    color: #ffffff;
    width: 100%;
  }

  &-body {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    color: #ffffff;
  }

  &-body::-webkit-scrollbar {
    width: 2px;
  }
  &-body::-webkit-scrollbar-track {
    background: green;
  }
  &-body::-webkit-scrollbar-thumb {
    background: rgb(4, 65, 4);
  }

  &-footer {
    position: absolute;
    padding-top: 8px;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 15px;
    text-align: center;
  }
}
