.layout {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
