$text-color-secondary: #999999;

$input-width-sm: 120px;
$input-width-md: 240px;
$input-width-lg: 360px;
$input-height-sm: 20px;
$input-height-md: 40px;
$input-height-lg: 60px;

$font-size-sm: 10px;
$font-size-base: 14px;
$font-size-lg: 28px;

$padding-xxs: 2px;
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 20px;

$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
