$text-color: #eeeeee;
$text-color-secondary: #999999;

$input-width-sm: 120px;
$input-width-md: 240px;
$input-width-lg: 360px;
$input-height-sm: 20px;
$input-height-md: 40px;
$input-height-lg: 60px;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
$font-size-xxlg: 28px;
$font-size-xxxlg: 38px;

$padding-xxxs: 2px;
$padding-xxs: 4px;
$padding-xs: 8px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 20px;
$padding-xlg: 24px;

$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
