.space {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
.space_type-horizontal {
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
}
.space_type-vertikale {
  flex-direction: column;
  margin-top: -12px;
  margin-bottom: -12px;
}
.space__horizontal_size-medium {
  margin-left: 12px;
  margin-right: 12px;
}
.space__vertikale_size-medium {
  margin-top: 12px;
  margin-bottom: 12px;
}
