.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid;
  border-color: $border-color;
  transition: border-color 0.3s;

  &.error {
    border-color: $error-color;
  }

  &_small {
    width: $input-width-sm;
    height: $input-height-sm;
    border-radius: $border-radius-sm;
  }
  &_medium {
    width: $input-width-md;
    height: $input-height-md;
    border-radius: $border-radius-md;
  }
  &_large {
    width: $input-width-lg;
    height: $input-height-lg;
    border-radius: $border-radius-lg;
  }

  input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  .input {
    height: 100%;
    width: 100%;

    &::placeholder {
      color: $text-color-secondary;
    }

    &_small {
      font-size: $font-size-sm;
      padding: 6px 4px 4px 4px;
      border-radius: $border-radius-sm;

      &:placeholder-shown:not(:focus) {
        padding: 5px 4px 5px 4px;
      }
    }
    &_medium {
      font-size: $font-size-base;
      padding: 16px 8px 10px 8px;
      border-radius: $border-radius-md;

      &:placeholder-shown:not(:focus) {
        padding: 13px 8px 13px 8px;
      }
    }
    &_large {
      font-size: $font-size-xxlg;
      padding: 20px 10px 12px 10px;
      border-radius: $border-radius-lg;

      &:placeholder-shown:not(:focus) {
        padding: 16px 8px 16px 8px;
      }
    }
  }

  &:focus-within ::placeholder {
    opacity: 0;
  }

  .input-field__input:focus + .input-field__label,
  .input-field__input:not(:placeholder-shown) + .input-field__label,
  .input-field__input:-webkit-autofill + .input-field__label {
    opacity: 1;
  }

  .input-field__input_error {
    color: $error-color;
  }

  .input-field__label {
    position: absolute;
    color: $text-color-secondary;
    opacity: 0;
    &_small {
      opacity: 0 !important;
    }
    &_medium {
      top: 2px;
      left: 4px;
      font-size: $font-size-xs;
    }
    &_large {
      top: 2px;
      left: 8px;
      font-size: $font-size-md;
    }
  }
}
